/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #f2f4f8;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-purple1: #edeefb;
  --color-purple2: #ae8ff0;
  --color-purple3: #a9adf4;
  --color-purple4: #b7abcc;
  --color-purple5: #c7c9f6;
}

body {
  width: 400px;
  height: 400px;
}
#nannido {
  width: 200px;
  height: 300px;
  background-color: var(--color-light-white);
  position: fixed;
  top: 80px;
  left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nannido__title {
  font-size: 1em;
}

.nannido__options {
  font-size: 2em;
  text-align: center;
}

.nannido__option {
  background-color: #a9adf4;
  margin: 10px;
  padding: 10px;
}

#game {
  width: 100%;
  height: 100%;
  display: none;
  /* none or flex */
  flex-direction: column;
  align-items: center;
}
.game__timer {
  font-size: 25px;
  height: 70px;
  text-align: center;
  line-height: 100px;
}

.game__btn {
  width: 32px;
  height: 32px;
  font-size: 14px;
  background-color: wheat;
  border: 4px solid black;
  transition: transfrom 300ms ease-in;
}

.game__btn:hover {
  transform: scale(1.1);
}

.game__field {
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.game__field > div {
  font-size: 50px;
  text-align: center;
}

#popup {
  background-color: #4d4d4d;
  width: 300px;
  height: 80px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 50px;
}
